@page
@model MCFTAcademics.GradeByCourse
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Student Grades";

}
@using System.Collections;
@using BL;
@{
    List<Course> courses = Course.GetCoursesByInstructor(HttpContext.User.IdAsInt());
    if (Model.s != null) {

    }

    int semester = 0;
}
    <h1>@ViewData["Title"]</h1>


@if (courses != null)
{

<table class="table">

    @foreach (Course c in courses)
    {
        CourseCode code = c.GetCourseCode();
        
        List<Student> students = Student.GetStudentsByCourse(c);


        if (semester != code.Semester)
        {
            semester = code.Semester;

            <h2>@c.Name - @code.Code</h2>
            <tr>
                <td colspan="5">
                    <h3>Semester @semester</h3>
                </td>
            </tr>
            <tr>
                <th scope="col" width="15%">Student Id</th>
                <th scope="col" width="20%">First Name</th>
                <th scope="col" width="20%">Last Name</th>
                <th scope="col" width="10%">Grade</th>
                <th scope="col" width="35%">Comment</th>
            </tr>
        }
        @foreach (Student s in students)
        {
            Grade g = s.GetGradeFromListByCourseId(c.Id,s.GetGrades());
            if (g.Locked)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.FirstName</td>
                    <td>@s.LastName</td>
                    <td>@g.GradeAssigned</td>
                    <td>Grade is Locked</td>
                </tr>
            }
            else if (!g.Locked)
            {
<tr>
    <td>@s.Id</td>
    <td>@s.FirstName</td>
    <td>@s.LastName</td>
    <td><input id="grade#@g.Subject.Id" class="input-sm" onchange="method(this)" type="number" value="@g.GradeAssigned" /></td>

    <td>
        <input class="input-sm hidden" style="width:200px;padding-top: 6px;" placeholder="comment on changes" type="text" required name="commentField" id="comment#@g.Subject.Id">

        <button id="@g.Subject.Id" onclick="submitGrade(this)" style="padding-right: 12px;margin-right:37px;padding-top: 2px;margin-left: 2px; width:110px; float:right" class="btn btn-danger hidden">Submit</button>
    </td>
</tr>
                
            }




        }

    }
</table>
    
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("[name='commentField']").each(function () {
                //not used for anything(yet)
            });
        });
            
        submitGrade = function (buttonObj) {
            var grade = $(buttonObj).parent().prev().children().val();
            var comment = $(buttonObj).prev().val();
            var courseId = $(buttonObj).attr('id');
            var studentId = $("#studentIdHolder").val();   
            console.log(studentId);
            if (confirm("Do you want to submit this change?")) {

                $.ajax({
                    type: "GET",
                    url: "/GradesByStudentId?handler=Ajax&grade=" + grade + "&studentId="+ studentId+ "&comment=" + comment + "&courseId=" + courseId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert(response);

                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        }
        method = function (val) {
            //alert(val.value);
            var elementList = val.parentElement.nextElementSibling.children;
            elementList[0].classList.remove("hidden");
            elementList[1].classList.remove("hidden");

        };         
    </script>
}


