@page
@model MCFTAcademics.GradeByStudentId
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GradesByStudentId";

}
@using System.Collections;
@using BL;
@{
    Student studentUser = null;
    if (Model.s != null) {
        studentUser = @Model.s;
    }
    int rowCounter = 1;
}
<h1>Grade By Student Id</h1>
<br>
<form class="form-inline" id="form" method="post">
    <div class="row">
        <label>Please Enter Student ID: </label>
        <input class="form-control" style="width:200px" type="text" required name="studentId" id="studentId">
        <button class="btn btn-primary" id="searchById" type="submit">Search</button>
    </div>


</form>
@if (studentUser != null)
{

    <h3>@studentUser.StudentId @studentUser.FirstName @studentUser.LastName</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" width="10%">Course Code</th>
                <th scope="col" width="20%">Subject</th>
                <th scope="col" width="20%">Instructor</th>
                <th scope="col" width="10%">Grade</th>
                <th scope="col" width="40%">Comment</th>
            </tr>
        </thead>
        
        @foreach (Grade g in studentUser.Grades)
        {

            if (g.Subject != null && g.Locked)
            {
    <tr>
        <th scope="row">@rowCounter</th>
        <td>@g.Subject.Name</td>
        <td>@g.Subject.LeadStaff.Name</td>
        <td>@g.GradeAssigned</td>
        <td></td>
    </tr>
                rowCounter++;
            }
            else if (g.Subject != null && !g.Locked)
            {
    <tr>
        <th scope="row">@g.Subject.Id</th>

        <td>@g.Subject.Name</td>
        <td>@g.Subject.LeadStaff.Name</td>
        <td><input id="@g.Subject" class="input-sm" onchange="method(this.value)" type="number" value="@g.GradeAssigned" /></td>

        <td><input class="input-sm" style="width:200px" placeholder="comment on changes" type="text" required name="commentField" id="commentField"><button class="btn btn-danger">Submit</button></td>
    </tr>
    rowCounter++;
            }
        }
    </table>
    <div id="commentBox">
        <form class="form-inline" id="form" method="Post">
            <div class="row">
                <label>Please comment on changes: </label>
                <input class="form-control" style="width:200px" type="text" required name="commentField" id="commentField">
                <button class="btn" id="submitChanges" type="submit">Submit Changes</button>
            </div>
        </form>
    </div>
    
}



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('commentBox').hide();
                                    method = function (val) {
                                       // alert(val);
                                        console.log('hidden')
                                        $('commentBox').hidden=true;
                                        
                                        
                                    }
                                    
                                //    $("form").submit(function (e) {
                                //        alert("in fucnt");
                                //        if ($('studentId').val() == '') {
                                //            alert("Please enter a student Id");
                                //            e.preventDefault();
                                //        }
                                //        if ($('studentId').val().isNaN()) {
                                //            alert("Please enter a student Id (numbers only)");
                                //            e.preventDefault();
                                //        }
                                //        else {
                                //            alert("in else");
                                //            var xmlhttp = new XMLHttpRequest();
                                //            xmlhttp.onreadystatechange = function() {
                                //            if (this.readyState == 4 && this.status == 200) {
                                //            alert(this.responseText);
                                //            }
                                //        };
                                //        xmlhttp.open("GET", "gradesByStudentId?q=" + str, true);
                                //        xmlhttp.send();
                                //        }

                                    });



                               // });
    </script>
}


