@page
@model MCFTAcademics.ManageAllCoursesModel
@{
    ViewData["Title"] = "Manage All Courses";
}
@using System.Collections;
@using BL;
@{

    List<Course> courses = Course.GetAllCourses();
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Manage Courses</h2>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Course Code</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="hidden" name="courseId" asp-for="course.Id" id="hdnCourseId">
                <input class="form-control" type="text" name="courseCode" required asp-for="courseCode.Code" id="txtCourseCode">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCourses" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @Model.dropdownText
                        <span class="caret"> </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuCourses">
                        <li> <a asp-page-handler="AddCourse">Add new course</a></li>
                        @foreach (Course c in courses)
                        {
                            <li> <a asp-page-handler="SelectCourse" asp-route-id="@c.Id">@c.Name</a> </li>
                        }
                    </ul>
                </div>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Course Title</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="text" asp-for="course.Name" required name="courseTitle" id="txtCourseTitle">
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Program</span>
            </div>
            <div class="col-lg-2">
                <select class="form-control" asp-for="course.Program" name="program" id="selAccreditation">
                    <option>Wildlife</option>
                    <option>Forestry</option>
                </select>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default descrip">Description</span>
            </div>
            <div class="col-lg-8">
                <textarea class="form-control" rows="3" name="description" required asp-for="course.Description" id="txtCourseDescrip"></textarea>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Semester</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" name="semester" required asp-for="courseCode.Semester" id="txtSemester">
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Start Date</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" name="startDate" type="date" required asp-for="courseCode.From" id="txtStartDate">
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">End Date</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" name="endDate" type="date" required asp-for="courseCode.To" id="txtEndDate">
            </div>
        </div> <br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default">Credit</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" name="credit" required asp-for="course.Credit" id="txtCredit">
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default"> Lecture Hours</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" name="lectureHours" required asp-for="course.LectureHours" id="txtLectureHours">
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default"> Lab Hours</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" name="labHours" required asp-for="course.LabHours" id="txtLabHours">
            </div>
            <div class="col-lg-1">
                <span class="label label-default"> Total Hours</span>
            </div>
            <div class="col-lg-1">
                <input class="form-control" type="number" name="totalHours" readonly asp-for="course.TotalHours" id="txtTotalHours">
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default"> Exam Hours</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" name="examHours" required asp-for="course.ExamHours" id="txtExamHours">
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default"> Revision Number</span>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="number" step="any" name="revisionNumber" required asp-for="course.RevisionNumber" id="txtRevisionNumber">
            </div>
        </div><br />
              <div class="row">
                  <div class="col-lg-1">
                      <span class="label label-default"> Accreditation</span>
                  </div>
                  <div class="col-lg-2">
                      <select class="form-control" asp-for="course.Accreditation" name="accreditation" id="selAccreditation">
                          <option>True</option>
                          <option>False</option>
                      </select>
                  </div>
              </div>
        </div><br />
        <div class="row">
            <div class="col-lg-1">
                <span class="label label-default"> Prerequisites</span>
            </div>
            <div class="col-lg-4">
                <table class="table" id="tblOne">
                    <thead>
                        <tr>
                            <th scope="col">Req.</th>
                            <th scope="col">Coreq.</th>
                            <th scope="col">CourseCode</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.course != null)
                        {
                            count = 0;

                            @for (var i = 0; i < Model.course.Prerequisites.Count; i++)
                            {
                                <tr id="Prereq-@i">
                                    @if (Model.course.Prerequisites[i].IsPrereq == true)
                                    {
                                        <td><input class="form-check-input" asp-for="course.Prerequisites[i].IsPrereq" type="radio" name="reqRadio+@count" checked value="prereq"></td>
                                        <td><input class="form-check-input" asp-for="course.Prerequisites[i].IsCoreq" type="radio" name="reqRadio+@count" value="coreq"></td>
                                    }
                                    else if (Model.course.Prerequisites[i].IsCoreq == true)
                                    {
                                        <td><input class="form-check-input" asp-for="course.Prerequisites[i].IsPrereq" type="radio" name="reqRadio+@count" value="prereq"></td>
                                        <td><input class="form-check-input" asp-for="course.Prerequisites[i].IsCoreq" type="radio" name="reqRadio+@count" checked value="coreq"></td>
                                    }
                                    <td><input class="form-control" type="text" name="prereqCode+@count" asp-for="course.Prerequisites[i].PrereqId" id="txtCourseCode" value="@BL.CourseCode.GetNewestCourseCodeById(Model.course.Prerequisites[i].PrereqId).Code"></td>
                                    <td>
                                        <button type="button" data-id="Prereq-@i" class="Delete btn btn-sm btn-danger d-none d-md-inline-block">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        <tr>
                            <td><input class="form-check-input" type="radio" name="reqRadio+@count" checked value="prereq"></td>
                            <td><input class="form-check-input" type="radio" name="reqRadio+@count" value="coreq"></td>
                            <td><input class="form-control" type="text" name="prereqCode+@count" id="txtCourseCode" value=""></td>
                            <td><button type="button" class="Add btn btn-primary">Add</button></td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control" type="hidden" name="count" value="@count" id="hiddenCount">
            </div>
            <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-danger">Submit Changes</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").on("click", ".table .Delete", function () {

            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");

                row.remove();
                var count = parseInt($('#hiddenCount').val()) - parseInt(1);
                $('#hiddenCount').val(count);
                var i = 0;
                $('#tblOne > tbody  > tr').each(function () {
                    console.log("hello");
                    $(this).find("td:first").find('input').attr('name', 'reqRadio+' + i);
                    $(this).find("td:first").next('td').find('input').attr('name', 'reqRadio+' + i);
                    $(this).find("td:first").next('td').next('td').find('input').attr('name', 'prereqCode+' + i);
                    i++
                });
            }
        });

        $("body").on("click", ".table .Add", function addRow() {
            if (confirm("Do you want to add this row?")) {
                var row = $(this).closest("tr");
                var count = parseInt($('#hiddenCount').val()) + parseInt(1);
                row.find("button").parent().html("<button type=\"button\" class=\"Delete btn btn-sm btn-danger d-none d-md-inline-block\">Delete</button>");
                row.after('<tr> <td><input class="form-check-input" type="radio" name="reqRadio+' + count + '" checked value="prereq"></td> <td><input class="form-check-input" type="radio" name="reqRadio+' + count + '" value="coreq"></td><td><input class="form-control" name="prereqCode+' + count + '" type="text" id="txtCourseCode" value=""></td><td><button type="button" class="Add btn btn-primary">Add</button></td></tr>');
                $('#hiddenCount').val(count);
            }
        });

        $(document).ready(function () {
            //option A
            $("form").submit(function (e) {
                if ($('#hdnCourseId').val() == '') {
                    alert("Please select an option from the dropdown menu");
                    e.preventDefault();
                }
            });
        });
    </script>
}