@page
@model MCFTAcademics.ViewCoursesModel
@using BL;
@{
    var courses = (IEnumerable<Course>)ViewData["ViewData_Courses"];
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Semester</th>
            <th scope="col">Credit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course c in courses)
        {
            @foreach (CourseCode cc in CourseCode.GetAllCourseCodesById(c.Id))
            {
                <tr>
                    <th scope="row">@cc.Code</th>
                    <td><a asp-page='CourseInfo' asp-page-handler='Info' asp-route-id='@c.Id'>@c.Name</a></td>
                    <td>@cc.Semester</td>
                    <td>@c.Credit</td>
                </tr>
            }
        }
    </tbody>
</table>