@page
@model MCFTAcademics.ViewUsersModel
@{
    ViewData["Title"] = "List of Users";
}

@{
    var users = BL.User.GetAllUsers();
}

<h2>List of Users</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Real Name</th>
            @* obviously not going to show hashes... *@
            <th scope="col">Disabled</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                @{
                    var disabledClass = user.IsDisabled ? "userDisabled" : string.Empty;
                }
                <th class="@disabledClass" scope="row">@user.Id</th>
                <td class="@disabledClass">@user.Username</td>
                <td class="@disabledClass">@user.Name</td>
                <td>@user.IsDisabled</td>
                @* don't put disabled on this since it states it *@
                <td>
                    <a class="btn btn-warning" asp-page="/ChangePassword" asp-page-handler="WithId" asp-route-id="@user.Id">Change Password</a>
                    @if (!User.UserIdMatches(user.Id))
                    {
                        @* don't let people shoot themselves in the foot; the rest are benign/exposed/more intentional *@
                        <a class="btn btn-danger" onclick="return handleConfirmDisableUser()" asp-page="/ViewUsers" asp-page-handler="Disable" asp-route-id="@user.Id">Disable</a>
                    }
                    <a class="btn btn-default" asp-page="/ChangeProfile" asp-page-handler="WithId" asp-route-id="@user.Id">Change Profile</a>
                    <a class="btn btn-default" asp-page="/ViewRoles" asp-page-handler="WithId" asp-route-id="@user.Id">View Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

} 